<button mat-icon-button (click)="cerrar()" style="align-self: flex-end; margin-top: 8px; margin-right: 8px;">
    <mat-icon fontIcon="close"></mat-icon>
</button>

<h2 mat-dialog-title>Registrar Horario</h2>

<mat-dialog-content>

    <h3>Datos del horario</h3>

    <div class="grid-12">

        <mat-form-field class="span-6">
            <mat-label>Turno</mat-label>
            <mat-select [(ngModel)]="form.turnos">
                <mat-option value="Mañana">Mañana</mat-option>
                <mat-option value="Tarde">Tarde</mat-option>
                <mat-option value="Noche">Noche</mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field class="span-6">
            <mat-label>Días laborales</mat-label>
            <mat-select [(ngModel)]="form.dias">
                <mat-option value="Lunes a Viernes">Lunes a Viernes</mat-option>
                <mat-option value="Lunes a Sábado">Lunes a Sábado</mat-option>
                <mat-option value="Lunes a Domingo">Lunes a Domingo</mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field class="span-3">
            <mat-label>Hora Entrada</mat-label>
            <mat-select [(ngModel)]="form.hora_entrada">
                <mat-option value="08:00">08:00</mat-option>
                <mat-option value="08:30">08:30</mat-option>

                <mat-option value="09:00">09:00</mat-option>
                <mat-option value="09:30">09:30</mat-option>

                <mat-option value="10:00">10:00</mat-option>
                <mat-option value="10:30">10:30</mat-option>

                <mat-option value="11:00">11:00</mat-option>
                <mat-option value="11:30">11:30</mat-option>

                <mat-option value="12:00">12:00</mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field class="span-3">
            <mat-label>Hora Salida</mat-label>
            <mat-select [(ngModel)]="form.hora_salida">
                <mat-option value="16:00">16:00</mat-option>
                <mat-option value="16:30">16:30</mat-option>

                <mat-option value="17:00">17:00</mat-option>
                <mat-option value="17:30">17:30</mat-option>

                <mat-option value="18:00">18:00</mat-option>
                <mat-option value="18:30">18:30</mat-option>

                <mat-option value="19:00">19:00</mat-option>
                <mat-option value="19:30">19:30</mat-option>

                <mat-option value="20:00">20:00</mat-option>
            </mat-select>
        </mat-form-field>

        <!-- <div class="span-12" style="margin-top: 10px;">
            <h4 class="label-radio">Días laborables</h4>
            <div class="grid-12">
                <mat-checkbox [(ngModel)]="form.dias.lunes" class="span-3">Lunes</mat-checkbox>
                <mat-checkbox [(ngModel)]="form.dias.martes" class="span-3">Martes</mat-checkbox>
                <mat-checkbox [(ngModel)]="form.dias.miercoles" class="span-3">Miércoles</mat-checkbox>

                <mat-checkbox [(ngModel)]="form.dias.jueves" class="span-3">Jueves</mat-checkbox>
                <mat-checkbox [(ngModel)]="form.dias.viernes" class="span-3">Viernes</mat-checkbox>
                <mat-checkbox [(ngModel)]="form.dias.sabado" class="span-3">Sábado</mat-checkbox>
            </div>
        </div> -->

    </div>

</mat-dialog-content>

<mat-dialog-actions style="margin-bottom: 30px;">
    <button mat-raised-button class="btn-save" style="margin-left: 18px;" (click)="guardar()">
        Guardar
    </button>
</mat-dialog-actions>