<button mat-icon-button (click)="cerrar()" style="align-self: flex-end; margin-top: 8px; margin-right: 8px;">
    <mat-icon fontIcon="close"></mat-icon>
</button>
<h2 mat-dialog-title>Registrar Areas</h2>
<mat-dialog-content>
    <h3>Datos del area de la empresa</h3>
    <div class="grid-12">
        <mat-form-field class="span-7">
            <mat-label>Nombre</mat-label>
            <input matInput placeholder="Nombre del area">
        </mat-form-field>
        <mat-form-field class="span-5">
            <mat-label>Estado</mat-label>
            <mat-select [(ngModel)]="area.estado">
                <mat-option value="Activo">Activo</mat-option>
                <mat-option value="Inactivo">Inactivo</mat-option>
            </mat-select>
        </mat-form-field>
        <!-- <mat-form-field class="span-12">
            <mat-label>Descripción</mat-label>
            <textarea matInput rows="4" placeholder="Descripción del área" [(ngModel)]="area.descripcion"></textarea>
        </mat-form-field> -->
    </div>


</mat-dialog-content>
<mat-dialog-actions style="margin-bottom: 30px;">
    <button mat-raised-button class="btn-save" style="margin-left: 18px;">Guardar</button>
</mat-dialog-actions>