:host {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  overflow-x: hidden;
}

mat-dialog-content {
  overflow-x: hidden;
}

mat-dialog-actions {
  width: 100%;
  justify-content: flex-end;
}

