img.logo {
  width: 120px;       /* ajustable */
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
  display: block;
  margin: 15px auto;
}
.sidenav-header {
  padding: 20px 0;
  text-align: center;
}

mat-nav-list a {
  display: flex;
  align-items: center;
  gap: 15px;
  font-size: 16px;
}

mat-nav-list a mat-icon {
  font-size: 22px;
}


/* Color  */
/* :host {
  display: block;
  height: 100%;
  background-color: #3a3af8; 
  color: white;
} */

/* Color de el span la letra de el sidebar */
/*
mat-nav-list a span {
  color: white !important;
} */