.content{
  padding: 20px;

}
mat-toolbar{
  position: relative;
  z-index: 5;

}
mat-sidenav-container{
  height: calc(100vh - 64px);
}

/* Toolbar */
/* mat-toolbar {
  background: #1E1E2D !important;
  color: white !important;
} */