<button mat-icon-button (click)="cerrar()" style="align-self: flex-end; margin-top: 8px; margin-right: 8px;">
    <mat-icon fontIcon="close"></mat-icon>
</button>
<h2 mat-dialog-title>Marcar Asistencia</h2>
<mat-dialog-content>
    <h3>Marcar asistencia</h3>
    <div class="grid-12">
        <mat-form-field class="span-6">
            <mat-label>Nombre</mat-label>
            <input matInput placeholder="Nombre del area">
        </mat-form-field>
        <mat-form-field class="span-3" appearance="fill">
            <mat-label>Hora Entrada</mat-label>
            <input matInput type="time" [(ngModel)]="asistencia.horaEntrada">
        </mat-form-field>
        <mat-form-field class="span-3" appearance="fill">
            <mat-label>Hora Salida</mat-label>
            <input matInput type="time" [(ngModel)]="asistencia.horaSalida">
        </mat-form-field>
    </div>
    <div class="grid-12">

        <mat-form-field class="span-5">
            <mat-label>Estado</mat-label>
            <mat-select [(ngModel)]="asistencia.estado">
                <mat-option value="Activo">Puntual</mat-option>
                <mat-option value="Inactivo">Falta</mat-option>
                <mat-option value="Inactivo">Justificado</mat-option>
            </mat-select>
        </mat-form-field>
    </div>

    <div class="grid-12">
        <mat-form-field class="span-12">
            <mat-label>Descripción</mat-label>
            <textarea matInput rows="4" placeholder="Descripción del área" [(ngModel)]="asistencia.descripcion"></textarea>
        </mat-form-field>
    </div>


</mat-dialog-content>
<mat-dialog-actions style="margin-bottom: 30px;">
    <button mat-raised-button class="btn-save" style="margin-left: 18px;">Marcar</button>
</mat-dialog-actions>