<mat-card>
    <mat-card-header>
        <h2>Login</h2>
    </mat-card-header>
    <mat-card-content>
        <form [formGroup]="formLogin" (submit)="inicarSesion()">
            <mat-form-field  appearance="fill" >
                <mat-label>Username</mat-label>
                <input matInput placeholder="Nombre de usuario" id="usuario" formControlName="usuario" name="username" required>
                <mat-icon matSuffix>account_circle</mat-icon>
            </mat-form-field>

            <mat-form-field appearance="fill" >
                <mat-label>Password</mat-label>
                <input matInput type="password" id ="clave"  formControlName="password" placeholder="Enter your password"  name="password" required>
                <mat-icon matSuffix>lock</mat-icon>
            </mat-form-field>
                <button class="btn-save" mat-raised-button color="primary" [disabled]="formLogin.invalid">Login</button>
        </form>
    </mat-card-content>
</mat-card>