/* Ancho completo */
.tabla-general {
    width: 100%;
    border-collapse: collapse;
    /* permite bordes continuos */
    font-size: 16px;
    /* un poco más grande */
}

/* Encabezados */
.tabla-general th {
    background: #478fd3;
    font-weight: bold;
    border: 1px solid #ccc;
    /* bordes visibles */
    padding: 12px;
}

/* Celdas */
.tabla-general td {
    border: 1px solid #ddd;
    /* bordes internos y externos */
    padding: 10px;
}
/* Responsiva tabla */
.tabla-responsive {
    width: 100%;
    overflow-x: auto;            
    -webkit-overflow-scrolling: touch; 
}

/* Fila hover */
.tabla-general tr:hover {
    background: #f5f5f5;
}
.acciones {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}



/* Boton de buscar */
.input-buscar {
  width: 260px;
  padding: 10px 14px;
  border-radius: 12px;
  border: 1px solid #ccc;
  font-size: 15px;
  transition: all 0.25s ease;
  outline: none;
  background: #fff;
  box-shadow: 0 1px 3px rgba(0,0,0,0.1);
}

/* Efecto al enfocar */
.input-buscar:focus {
  border-color: #478fd3;
  box-shadow: 0 0 6px rgba(71, 143, 211, 0.4);
}

/* Placeholder más suave */
.input-buscar::placeholder {
  color: #999;
  font-size: 14px;
}